<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         executionOrder="random"
         resolveDependencies="true"
>
    <php>
        <env name="DATABASE" value="shopixmvc_test" />
        <env name="DATABASE" value="shopixmvc" />
    </php>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/Core/Redirector.php</file>
        </exclude>
    </coverage>
    <testsuite name="MVC">
        <directory>tests/</directory>
    </testsuite>
</phpunit>
